 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752335691989-or3thd10nnb2l6bokpt7ap18o1pual94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752335691989-or3thd10nnb2l6bokpt7ap18o1pual94</string>
	<key>API_KEY</key>
	<string>AIzaSyALATiFhR_4w9QbBrwEZq6nLiejWrUO-34</string>
	<key>GCM_SENDER_ID</key>
	<string>752335691989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbasedeneme</string>
	<key>PROJECT_ID</key>
	<string>ieys-e7788</string>
	<key>STORAGE_BUCKET</key>
	<string>ieys-e7788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752335691989:ios:e0a4822c58358f9f8c425c</string>
	<key>DATABASE_URL</key>
	<string>https://ieys-e7788-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>